//
//                                                        ▀▀▀▀▀     ▀▀▀▀▀          ▀▀█▀▀
//                                                        ▄▀▀▀▄  ▄  ▄▀▀▀▄  ▄  ▄▀▀▀▄  █  ▄▀▀▀▄
//                                                        █   █  █  █   █  █  █   █  █  █   █
//                                                         ▀▀▀   █   ▀▀▀   █   ▀▀▀   ▀   ▀▀▀
//                                                               █      ▄▄▄█▄▄▄    █   █  
//                                                               ▀      █  █  █     █▄█
//                                                             ▀▀▀▀▀    █  █  █      ▀
//                                                                      ▀  ▀  ▀
//
// ▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/outputs.h>
#include <dt-bindings/zmk/ext_power.h>

#define Base            0
#define Sym             1
#define Nav             2
#define Adjust          3

&sk {
    release-after-ms = <1000>;
    quick-release;
};

&caps_word {
    continue-list = <UNDERSCORE MINUS BSPC>;
};

/ {
    conditional_layers {
        compatible = "zmk,conditional-layers";
        tri_layer {
            if-layers = <1 2>;
            then-layer = <3>;
        };
    };

    //               0   1   2   3   4                   5   6   7   8   9
    //               10  11  12  13  14                  15  16  17  18  19
    //           20  21  22  23  24  25                  26  27  28  29  30  31
    //                       32  33  34                  35  36  37

    keymap {
        compatible = "zmk,keymap";

        // Staandard QWERTY layout with layers for Symbols, Navigation, and Adjust functions
        // left thumb switches to symbol layer, right thumb switches to navigation layer
        // Edge keys are Esc and single quote

        Base {
            label = "Base";
            bindings = <
                     &kp Q  &kp W  &kp E     &kp R    &kp T                      &kp Y      &kp U    &kp I      &kp O    &kp P
                     &kp A  &kp S  &kp D     &kp F    &kp G                      &kp H      &kp J    &kp K      &kp L    &kp SEMI
            &kp ESC  &kp Z  &kp X  &kp C     &kp V    &kp B                      &kp N      &kp M    &kp COMMA  &kp DOT  &kp SLASH  &kp SQT 
                                   &kp BSPC  &mo Sym  &kp LSHFT                  &kp SPACE  &mo Nav  &kp RET
            >;
        };

        // Symbol layer. First row has brackets and comparison operators
        // Home row has shift, alt, gui, ctrl, equal, tilde, and scroll up/down (a little nav spillover)
        // Central columns have &, @, =, ~, = and ^
        // Bottom row has tab, hash, pipe, star, minus, plus, caret, backslash, dollar, exclamaion, percent, grave
        Sym {
            label = "Sym";
            bindings = <
                          &kp LT     &kp LBKT  &kp LBRC  &kp LPAR   &kp AMPS         &kp AT     &kp  RPAR      &kp  RBRC    &kp RBKT  &kp GT
                          &sk LSHFT  &sk LALT  &sk LGUI  &sk LCTRL  &kp EQUAL        &kp TILDE  &msc SCRL_DOWN &msc SCRL_UP &none     &none
            &kp LG(Z)     &kp HASH   &kp PIPE  &kp STAR  &kp MINUS  &kp PLUS         &kp CARET  &kp  BSLH      &kp  DLLR    &kp EXCL  &kp PRCNT  &kp GRAVE
                                               &kp DEL   &none      &none            &kp SPACE  &mo  Nav       &kp  LG(RET)
            >;
        };

        // Navigation layer. Arrow keys on home row, mouse movement and clicking/scrolling on the left hand
        // Underscore lives here to be shiftable from the symbol layer
        // Extra modifiers on the top right row, and number pad on the bottom row

        Nav {
            label = "Nav";
            bindings = <
                    &kp LSHFT      &mkp RCLK      &mmv MOVE_UP   &mkp LCLK       &none                &kp DEL  &sk RCTRL  &sk RGUI  &sk RALT   &sk RSHFT
                    &msc SCRL_LEFT &mmv MOVE_LEFT &mmv MOVE_DOWN &mmv MOVE_RIGHT &msc SCRL_RIGHT      &kp LEFT &kp DOWN   &kp UP    &kp RIGHT  &kp UNDER
            &kp TAB &kp N1         &kp N2         &kp N3         &kp N4          &kp N5               &kp N6   &kp N7     &kp N8    &kp N9     &kp N0     &kp MINUS
                                                  &kp RGUI       &mo Sym         &kp RALT             &none    &none      &none
            >;
        };

        // Adjust layer. Activated when both Symbol and Navigation layers are active
        // Should have media controls on the top row and Bluetooth/power controls on the left

        Adjust {
            label = "Adjust";
            bindings = <
                      &bt BT_SEL 0  &bt BT_SEL 1   &bt BT_SEL 2  &kp C_AC_DESKTOP_SHOW_ALL_WINDOWS &kp C_AC_DESKTOP_SHOW_ALL_APPLICATIONS        &kp C_PP  &kp C_VOL_DN    &kp C_VOL_UP  &kp C_MUTE      &kp C_NEXT
                      &bt BT_CLR    &studio_unlock &none         &none                             &caps_word                                    &kp HOME  &kp PG_DN       &kp PG_UP     &kp END         &kp INS
            &kp F12   &kp F1        &kp F2         &kp F3        &kp F4                            &kp F5                                        &kp F6    &kp F7          &kp F8        &kp F9          &kp F10     &kp F11
                                                   &none         &none                             &none                                         &none     &none           &none
            >;
        };
    };
};
